body {
    color: white;
    background: rgb(34, 139, 34);
    margin: 0px font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(139, 69, 19);
    padding: 20px;
    font-size: 32px;
}

.chamada {
    background: rgb(77 92 179);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    margin-left: 5%;
}

h1 {
    font-size: 40px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 15px;
}
.categoria-videos::-webkit-scrollbar {
    display: none;
}

.categoria {
    padding-left: 20px;
    padding-right: 30px;
    margin-top: 25px;
}

.categoria-videos img {
    opacity: 0.6;
    height: 200px;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid rgb(224, 221, 14);
}